@import 'source/mixins.less';
@import 'source/variables.less';
@import 'source/editor.less';
@import 'source/toolbar.less';
@import 'source/save-controls.less';
@import 'source/modal.less';

// TEMPORARY
// @TODO This needs to be removed and we need to get integrated into an actual article
#aesop-editor--content p {
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
}
.page-template-page-php {
    header {
        display: none;
    }
}