ul.lasso-editor-controls .lasso-toolbar--component__htmltable:before,
#lasso-toolbar--components__list .lasso-toolbar--component__htmltable:before
{ 
    content: "\f509";
    font-family: 'dashicons' !important; 
}
                       
.editus-table-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the menu list */
.editus-table-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.editus-table-menu li:hover {
    background-color: #DEF;
}