#aesop-editor--component__settings {

    form {
        margin:0;
        position: relative;
        padding-bottom:55px; // height of insert
    }

    label,
     .aesop-option-desc {
        display: block;
        line-height: 1.3;
        margin-bottom: 5px;
    }

    // option label
    label {
        font-weight:bold;
        margin-bottom: 0;
    }

    // general textarea and input styles
    input[type="text"],
    input[type="media_upload"],
    textarea{
        background:@input--bg;
        width:100%;
        border:1px solid @input--border;
        border-radius:@editor--radius;
        .box-shadow(inset 1px 1px 1px rgba(0,0,0,.4));
    }

    input[type="text"],
    input[type="media_upload"],
    textarea,
    select {

        &:focus {
            box-shadow: none;
            outline:none;
            border:1px solid darken(@input--border,15);
        }
    }

    // media upload treatment
    input[type="media_upload"] {
        height:30px;
    }

    .aesop-option-button,
    .aesop-generator-cancel {
        height:30px;
        font-weight: 400;
        text-align: center;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 2px 8px;
        line-height: 1.8;
        border-top-right-radius: @editor--radius - 1;
        border-bottom-right-radius: @editor--radius - 1;
        color: #fff;
        font-size: @sidebar--font__size;
        font-family: @editor--font;
    }

    // option button/media upload
    .aesop-option-button {
        background-color: @sidebar--button__bg;
        border-color: @sidebar--button__border;
        .transition(background .15s ease);
        .box-shadow(0 1px 1px rgba(0,0,0,0.25));

        &:hover {
            text-decoration: none;
            background:darken(@sidebar--button__bg,6);
        }

        &:active,
        &:focus {
            outline:none;
            text-decoration: none;
            border-color:darken(@sidebar--button__border,5);
            background:darken(@sidebar--button__bg,10);
            transition:none;
            .box-shadow(inset 1px 1px rgba(0,0,0,0.4));
        }
    }

    #aesop-upload-img {

        .editor-icon-font();

        &:before {
            content:'\e9c6';
            position: relative;
            top:5px;
        }

    }

    .aesop-generator-cancel {
        background:none;
        color:@editor--color__error;

    }
}


// single option
.aesop-option {
    position: relative;
    border-bottom:1px solid @input--border;
    margin:0;
    padding:@sidebar--padding;
    .clearfix();
    .box-shadow(0 1px 1px rgba(255,255,255,0.05));
}

// update setting button
.aesop-buttoninsert-wrap {
    display: none;
    margin:0 auto;
    .clearfix();
    position: fixed;
    text-align: right;
    padding:10px;
    .box-sizing(border-box);
    bottom:0;
    width:@sidebar--width - 4;
    background:@sidebar--bg;
    right:-@sidebar--width - 4;
    .transition(right .25s ease);
}
#aesop-generator-insert {
    text-align: center;
    float: right;
    display:block;
    margin:0 15px;
    padding:6px 10px;
    border-radius:@editor--radius - 2;
    background:@sidebar--buttonInsert__bg;
    border:1px solid @sidebar--buttonInsert__border;
    color:@sidebar--buttonInsert__color;

    &:hover {
        text-decoration: none;
        background:darken(@sidebar--buttonInsert__bg,10);
    }

    &:active,
    &:focus {
        text-decoration: none;
        outline:none;
    }

    &:active {
        background:darken(@sidebar--buttonInsert__bg,15);
        .box-shadow(inset 1px 1px rgba(0,0,0,0.4));
    }
}