#aesop-editor--gallery__images {
    min-height: 100px;
    position: relative;

    .aesop-icon-spinner6 {
        position: relative;
        left: 135px;
        top: 38px;
        -webkit-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;
        font-size: 16px;
    }
}
// gallery images metabox
#ase-gallery-images {
    .clearfix();
    margin:20px 10px 5px;
    .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
}

// single gallery image
.ase-gallery-image {
    position:relative;
    float:left;
    margin:4px;
    .transition(transform .1s ease);
    i {
        top:3px;
        position: absolute;
        z-index:1;
        color:white;
        font-size:16px;
        text-shadow:0 1px 1px rgba(0,0,0,0.5);
        .opacity(0.6);
        .transition(opacity .25s ease);

        &:hover {
            cursor: pointer;
            .opacity(1.0);
        }

        &.dashicons-edit {
            left:6px;
        }
    }

    i.dashicons-no-alt {
        right:4px;
    }

    i.dashicons-edit {
        right:20px;
    }

    img{
        max-width:57px;
    }

    // being dragged
    &.ui-sortable-helper {
        -ms-transform: rotate(7deg); /* IE 9 */
        -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
        transform: rotate(7deg);
    }
}

// dropzone
.ase-gallery-drop-zone {
    border: 1px solid @toolbar--bg;
    background: @toolbar--bg__accent;
    color: #363636;
    width:57px;
    height:57px;
    float:left;
    margin:4px;
}