// draggable handle
.aesop-component--controls {
    * { .box-sizing(border-box); }
    .editor--tool__bg();
    position: absolute;
    margin:0;
    padding:0;
    line-height:1;
    height:@component-controls--height;
    width:@component-controls--width;
    top:4px;
    right:0;
    left:-10000px;
    text-align: center;
    margin: 0 auto;
    border-radius:@editor--radius - 2;
    .clearfix();
    .opacity(0);
    .transition(opacity .35s ease-in);
    z-index: 99;

    li {
        float:left;
        list-style-type: none;
        line-height: 1;
        width:@component-controls--width / 4.1;
        height:@component-controls--height - 2;
        border-right:1px solid lighten(@toolbar--border,5);
        text-align: center;
        text-shadow:0 1px 1px rgba(0,0,0,0.4);

        &:before {
            .editor-icon-font();
            position: relative;
            top:1px;
            font-size:@component-controls--font__size;
        }

        &:first-child:hover {
            border-bottom-left-radius: @component-controls--radius;
            border-top-left-radius: @component-controls--radius;
        }

        &:hover {
            cursor: pointer;
            background:@toolbar--hover;
        }

        &:last-child {
            border-right:none;

            &:hover {
                border-top-right-radius: @component-controls--radius;
                border-bottom-right-radius: @component-controls--radius;
            }
        }

        &.aesop-drag{
            cursor:move ;
            &:hover {
                cursor:move;
            }
            &:before {
                content:'\e600';
            }
        }

        &.aesop-settings:before {
            content:'\e994';
        }

        &.aesop-clone:before {
            content:'\e92c';
        }
        &.aesop-delete:before {
            content:'\e9ad';
        }
    }

}
.aesop-editing .aesop-component:hover .aesop-component--controls{
    left:4px;
    .opacity(1);
}