#lasso--map-form {
    position: relative;

    .lasso--map-form__submit {
        position: absolute;
        top:10px;
        right:10px;
        z-index: 100;
    }
}

#lasso--map-form {

    margin-top: 10px;

    // marker wrap
    .leaflet-popup-content-wrapper, 
    .leaflet-popup-tip {
        border-radius:4px;

        input {
            font-size: 14px;
            border-radius: 0;
            padding:3px 5px;
            width:200px;
            display: inline-block;
            line-height: 1;
        }
    }

    // inner marker content
    .leaflet-popup-content {
        margin:10px;
    }

    // hide the close button because teh update button closes
    .leaflet-popup-close-button {
        position: absolute;
        left:-10000px;
        height:0;
    }

    //marker buttons
    .marker-update-button,
    .marker-delete-button {
        border-radius:0;
        color:white;
        box-shadow:none;
        border:none;
        border-radius:3px;
        display: inline-block;
        height:25px;
        width:25px;
        vertical-align: top;
        .box-sizing(border-box);
        text-align: center;

        &:hover {
            cursor: pointer;
        }

        &:active {
            outline:none;
            focus:none;
            box-shadow: none;
        }

        &:before {
            position: relative;
            text-align: center;
        }
    }
    .marker-update-button {
        background:@editor--color__success;

        &:hover {
            background:darken(@editor--color__success,6);
        }
        &:active {
            background:darken(@editor--color__success,10);
        }

        &:before {
            top:1px;
            left:-1px;
            font-size:24px;
        }
    }
    .marker-delete-button {
        background:@editor--color__error;

        &:hover {
            background:darken(@editor--color__error,6);
        }
        &:active {
            background:darken(@editor--color__error,10);
        }

        &:before {
            font-size:17px;
            top:1px;
            left:1px;
        }
    }
}