// edit gallery button
#aesop-editor--gallery__edit {
    padding:15px 20px 20px;
    border-bottom:1px solid @input--border;
    .box-shadow(0 1px 1px rgba(255,255,255,0.05));
    label {
        position: relative;
    }
}

// upload new gallery button
#aesop-editor--gallery__upload {
    padding:0 20px;
    text-align: center;
}
    a { // button
        color:@sidebar--color;
    }

// gallery thumb images container
#aesop-editor--gallery__images {
    min-height: 65px;
    position: relative;

    .aesop-icon-spinner6 {
        position: relative;
        left: 135px;
        top: 18px;
        -webkit-animation: spin 2s infinite linear;
        animation: spin 2s infinite linear;
        font-size: 16px;
    }
}
// gallery images ul
#ase-gallery-images {
    margin:0 -7px;
    border:1px solid @toolbar--bg;
    .clearfix();
    .ui-state-highlight { height: 1.5em; line-height: 1.2em; }
}

// single gallery image
.ase-gallery-image {
    position:relative;
    float:left;
    margin:3px;
    .transition(transform .1s ease);
    i {
        top:3px;
        position: absolute;
        z-index:1;
        color:white;
        font-size:16px;
        text-shadow:0 1px 1px rgba(0,0,0,0.5);
        .opacity(0.6);
        .transition(opacity .25s ease);

        &:hover {
            cursor: pointer;
            .opacity(1.0);
        }

        &.dashicons-edit {
            left:6px;
        }
    }

    i.dashicons-no-alt {
        right:4px;
    }

    i.dashicons-edit {
        right:20px;
    }

    img{
        max-width:57px;
    }

    // being dragged
    &.ui-sortable-helper {
        -ms-transform: rotate(7deg); /* IE 9 */
        -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
        transform: rotate(7deg);
    }
}

// add image
.aesop-editor-tiny-btn {
    .tiny-circle-btn( @toolbar--bg__dark, fadeout(@toolbar--color,20) );
}
#aesop-editor--gallery__create {
    position: absolute;
    right:0;
}
#ase-gallery-add-image {
    position: absolute;
    right:22px;
    font-size: 9px;
    padding: 4px;
}

// dropzone
.ase-gallery-drop-zone {
    border: 1px solid @toolbar--bg;
    background: @toolbar--bg__accent;
    color: #363636;
    width:57px;
    height:57px;
    float:left;
    margin:3px;
}

// specificity
#aesop-editor--component__settings .ase-gallery-layout-label {
    font-size:12px;
}

// gallery layout picker
.ase-gallery-opts--type{

    position: relative;

    h3 {
        margin:0;
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .ase-gallery-layout-label {
        position: relative;
        float:left;
        height:68px;
        width:78px;
        overflow: hidden;
        text-align: center;
        background:@toolbar--bg__accent;
        padding:5px;
        box-sizing:border-box;
        border:1px solid @toolbar--bg__dark;
        .transition(opacity .15s ease);
        .opacity(0.3);
        margin-right:2px;
        font-weight:normal;

        &:last-of-type {
            margin-right: 0 !important;
        }

        &:after {
            content:'';
            background-image:url('../img/layout-sprite.png');
            background-size:84%;
            position: absolute;
            height:42px;
            display: block;
            left:0;
            right:0;
            bottom:0;
        }

        &:hover {
            opacity:1.0;
        }
    }

    .selected {
        box-shadow:inset 0 0 12px -2px rgba(0,0,0,0.15);
        opacity:1.0;

    }

    label:first-of-type:after {
        background-position: 5px -9px;
    }
    label:nth-of-type(2):after {
        background-position: 5px -52px;
    }
    label:nth-of-type(3):after {
        background-position: 5px -99px;
    }
    label:nth-of-type(4):after {
        background-position: 5px -145px;
    }
     label:last-of-type:after {
        background-position: 5px -428px;
    }
}