.aesop-component {
    position: relative;
}

// missing wp media modal styles
.screen-reader-text, .screen-reader-text span, .ui-helper-hidden-accessible {
    position: absolute;
    margin: -1px;
    padding: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

// editable title
*[contenteditable="true"]:focus {
    outline:none;
}

// title been edited
.lasso-title-saved {
    .transition(all .2s ease);
    background:fadeout(white,90);
}

// drop zone
.lasso-drop-zone {
    .box-sizing(border-box);
    height:@editor--dropzone__height;
    background: @editor--dropzone__bg;
    border:1px dashed @editor--dropzone__border;
    list-style-type: none;
    width:700px;
    margin:0 auto 25px;
    border-radius:@editor--radius - 1;

    &:hover {
        background: darken(@editor--dropzone__bg,15);
    }
}

// component being dragged around on the page
.lasso-drag-holder {
    height:@editor--dropzone__height !important;
    background:#d7d7d7;
    text-align: center;
    width:60px;

    // each component has a data-component-type data attribute
    // with the compents slug. That's used to add a class on drag
    // which we use here to place icons as :before elements
    //
    // Custom modules must have this data-component-type so that
    // you can style the draggable placeholder
    .editor-icon-font();
    .editor--icon__list();

    &:before {
        position: relative;
        top:25px;
        font-size:22px;
    }
}

.lasso-editor{
    position: relative;
    min-height: 10px;

    &:focus {
        outline: none;
        border: none;
        box-shadow: none;
    }

    p:empty {
        display: block;
        height: 1em;
    }
    // component item being dragged from toolbar to editor
    .ui-draggable-dragging {
        list-style-type: none;
        height:50px;
        padding:10px;
        width:60px !important;
        background:fadeout(@toolbar--bg,50);
        text-align: center;
        font-size:22px;
        border-radius: @editor--radius;
        .editor-icon-font();
        .editor--icon__list();
        .box-sizing(border-box);

        &:before {
            color:white;
            position: relative;
            top:4px;
        }
    }

}
.lasso-editor-clear{
    background: transparent !important;
    background-color: transparent !important;
    border-color: transparent !important;
}

.lasso-editor-paste-hook{
    position: absolute;
    opacity:0;
}
.lasso-editor-placeholder{
	position: absolute;
}
.lasso-editor-placeholder div{
	.opacity(0.5);
	position: absolute;
}
.lasso-editor-placeholder-rich div{
	font-style: italic;
}
.lasso-editor-inline,
.lasso-editor-placeholder-inline div,
.lasso-editor-inlineRich,
.lasso-editor-placeholder-inlineRich div{
	overflow: hidden;
	white-space: nowrap;
}
.lasso-editor-drag {
	position: absolute;
	cursor: move;
	margin-left: -5px;
	margin-top: -20px;
}
.lasso-editor-toolbar-hide {
	overflow: hidden;
	max-height: 0;
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
	transition-property: opacity;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	-o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	opacity: 0;
}

.lasso-editor-toolbar-show {
	transition-property: opacity;
	-moz-transition-duration: 0.3s;
	-webkit-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-moz-transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
	max-height: 1000px;
	opacity: 1;
	width: auto !important;
}

.lasso-editor-toolbar-fixed {
	position: fixed;
}
.lasso-editor-focused {
	transition: all 500ms ease-in-out 0s;
	-moz-box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.2);
}

// tooltiop
  .ui-tooltip, .arrow:after {
    background: black;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    text-transform: uppercase;
    box-shadow: 0 0 7px black;
  }
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
  }
  .arrow.top {
    top: -16px;
    bottom: auto;
  }
  .arrow.left {
    left: 20%;
  }
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {
    bottom: -20px;
    top: auto;
  }