#aesop-editor--featImgControls {
    position: relative;
    z-index: 1;
    left:0;
    right:0;
    text-align: center;
    top:5px;
    width:@component-controls--width;
    margin:0 auto;
    font-size: @component-controls--font__size;
    .editor--tool__bg();
}