@font-path:        "../../../public/assets/fonts";

@font-face {
	font-family: 'icomoon';
	src:url('@{font-path}/icomoon.eot?ua4grz');
	src:url('@{font-path}/icomoon.eot?#iefixua4grz') format('embedded-opentype'),
		url('@{font-path}/icomoon.woff?ua4grz') format('woff'),
		url('@{font-path}/icomoon.ttf?ua4grz') format('truetype'),
		url('@{font-path}/icomoon.svg?ua4grz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="aesop-icon-"], [class*=" aesop-icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.aesop-icon-move:before {
	content: "\e600";
}
.aesop-icon-pen:before {
	content: "\e908";
}
.aesop-icon-images:before {
	content: "\e90e";
}
.aesop-icon-camera:before {
	content: "\e90f";
}
.aesop-icon-headphones:before {
	content: "\e910";
}
.aesop-icon-film:before {
	content: "\e913";
}
.aesop-icon-book:before {
	content: "\e91f";
}
.aesop-icon-books:before {
	content: "\e920";
}
.aesop-icon-file-text2:before {
	content: "\e926";
}
.aesop-icon-location:before {
	content: "\e947";
}
.aesop-icon-clock:before {
	content: "\e94e";
}
.aesop-icon-user:before {
	content: "\e971";
}
.aesop-icon-quotes-left:before {
	content: "\e977";
}
.aesop-icon-plus:before {
	content: "\ea0a";
}
.aesop-icon-bold:before {
	content: "\ea62";
}
.aesop-icon-underline:before {
	content: "\ea63";
}
.aesop-icon-italic:before {
	content: "\ea64";
}
.aesop-icon-strikethrough:before {
	content: "\ea65";
}
.aesop-icon-pagebreak:before {
	content: "\ea6e";
}
.aesop-icon-paragraph-center:before {
	content: "\ea78";
}
