.lasso-modal-open {
    overflow: hidden;
}

// modal overlay
#lasso--modal__overlay {
    z-index: 999;
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:@modal--overlay__bg;
}

// modal outer
.lasso--modal{
    z-index: 1001;
    position:fixed;
    display: table;
    top:33vh;
    left:0;
    right:0;
    bottom:0;
    width:@modal--width;
    margin:0 auto;
    font-family:@editor--font;
    * {
        .box-sizing(border-box);
    }

}

// modal inner
.lasso--modal__inner {
    display:table-cell;
    vertical-align: middle;
    background:@modal--bg;
    border-radius:@editor--radius;
    border:1px solid @modal--border;
    padding:@modal--padding;
    .box-shadow(0 0 10px 1px rgba(0,0,0,0.5) );
    color:@modal--color;
    .clearfix();
}

// modal close
#lasso--modal__close {
    position:absolute;
    right:20px;
    top:10px;

    &:hover {
        cursor: pointer;
    }
}

// post status slider wrap
.lasso--slider_wrap {
    padding:0 10px;
    height:18px;
}

// post status indicator
.lasso--postsettings__option {
    padding-bottom:20px;
    margin-bottom:20px;
    position: relative;
    line-height: 1;
    border-bottom:1px solid @modal--border;
    .box-shadow(0 1px 1px rgba(255,255,255,0.05));

    label {
        font-size: @modal--font__size;
        line-height: 1;
        margin-bottom: 8px;
        display: block;
        font-family: @editor--font;

        .lasso-icon-help {
            margin-left: 5px;
            position: relative;
            top:2px;
        }
    }

    // general input
    input[type="text"] {
        background: @input--bg;
        border:1px solid @input--border;
        color:@input--color;
        font-size: @sidebar--font__size;
        z-index: 0;
        position: relative;
        padding-left: 6px;
        border-radius: @editor--radius @editor--radius;
        .box-shadow(inset 1px 1px 1px rgba(0,0,0,.4));
    }

    &.lasso--last-option {
        border-bottom:none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    // story status label
    .story-status {
        margin:12px 0 8px;
        padding:0 10px;
        line-height: 1;
        .clearfix();

        li {
            font-size: @modal--font__size;
            float: left;
            list-style-type: none;
        }

        &.story-status-publish {
            #lasso--status-draft {
                .opacity(0.3);
            }
        }
        &.story-status-draft {
            #lasso--status-publish {
                 .opacity(0.3);
            }
        }

        #lasso--status-draft {

        }

        // published
        #lasso--status-publish {
            float: right;
        }
    }

    // post slug option
    &.story-slug-option {
        + .lasso--postsettings__footer {
            margin-top:inherit;
            padding-top:inherit;
            padding-to:20px;
            margin-top:20px;
        }
    }

    &.checkbox-option {

    }

    + .lasso--postsettings__footer {
        border-top:none;
        box-shadow: none;
        margin-top:0;
        padding-top:0;
    }
}

// post settings form footer
.lasso--postsettings__footer {
    text-align: right;
    font-size: @modal--font__size + 2;
    padding-top:20px;
    margin-top:22px;
    border-top:1px solid @modal--border;
    .box-shadow(0 -1px 1px rgba(255,255,255,0.05));

    a,input {
        display: inline-block;
    }


    // cancel button
    .lasso--postsettings-cancel {
        background: 0 0;
        color: @editor--color__error;
        position: relative;
        top: 3px;

        &:hover {
            color:darken(@editor--color__error,5);
            text-decoration: none;
        }
    }

    // save button
    input[type="submit"] {
        text-align: center;
        float: right;
        display: block;
        margin: 0 0 0 15px;
        border-radius: 2px;
        background:@editor--color__update;
        border: none;
        color: #fff;
        font-size: 17px;
        padding: 2px 12px 1px;
        line-height: 28px;
        -webkit-appearance: none;

        &:active,
        &:focus {
            outline:none;
        }

        &:hover {
            background:darken(@editor--color__update,10);
        }

        &:active {
            .box-shadow(inset 1px 1px 2px rgba(0,0,0,0.4));
        }
    }
}



// post status slider
#lasso--slider {
    position: relative;
    text-align: left;
    background: @rail--track__color;
    top:5px;
    height:@rail__height;
    border-radius:4px;
    .box-shadow(inset 1px 1px 1px rgba(0,0,0,0.2));

    // slider handle
    .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: @rail--handle__w;
        height: @rail--handle__h;
        cursor: default;
        -ms-touch-action: none;
        touch-action: none;
        background:@rail--handle__color;
        top:-6px;
        margin-left:-@rail--handle__w / 2;
        border-radius: 100%;
        .box-shadow(0 0 7px -1px rgba(0,0,0,0.75));

        &:focus,
        &:active {
            outline:none;
        }

        &:hover,
        &:active {
            .box-shadow(inset 0 0 6px rgba(0,0,0,0.5));
        }

        &:hover { border:4px solid @rail--handle__color; }

        &:active { border:4px solid darken(@rail--handle__color,3); }

        &:hover, &:focus, &:active { cursor: move; }
    }

}

// custom form #
.lasso--modal__checkbox,
#lasso--post-settings__modal {

    .checkbox_label {
        display: inline-block;
    }

    .checkbox-control {
        position: relative;
        display: inline-block;
        padding-left: 28px;
        cursor: pointer;
        //color:#444;
        top:2px;

        input {
            position: absolute;
            opacity: 0;
            z-index: -1; /* Put the input behind the label so it doesn't overlay text */
        }

        input:checked ~ .control-indicator {
          color: @input--bg;
          background-color: @editor--color__update;
        }

        input:active ~ .control-indicator {
          color:@input--bg;
          background-color: @editor--color__update;
        }
    }

    .control-indicator {
        position: absolute;
        top: -1px;
        left: 0;
        display: block;
        width:  18px;
        height: 18px;
        line-height: 1rem;
        font-size: 65%;
        color: @input--bg;
        text-align: center;
        background-color: @input--bg;
        background-size: 50% 50%;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Checkbox modifiers */
    .checkbox .control-indicator {
      border-radius: .25rem;
    }
    .checkbox input:checked ~ .control-indicator {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=);
    }

    /* Radio modifiers */
    .radio .control-indicator {
      border-radius: 50%;
    }
    .radio input:checked ~ .control-indicator {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==);
    }

    /* Alternately, use another character */
    .control-x input:checked ~ .control-indicator {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iOHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDggOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0xLjQsMEwwLDEuNGwwLjcsMC43bDEuOCwxLjhMMC43LDUuN0wwLDYuNGwxLjQsMS40bDAuNy0wLjdsMS44LTEuOGwxLjgsMS44bDAuNywwLjdsMS40LTEuNEw3LjEsNS43DQoJTDUuMywzLjlsMS44LTEuOGwwLjctMC43TDYuNCwwTDUuNywwLjdMMy45LDIuNUwyLjEsMC43QzIuMSwwLjcsMS40LDAsMS40LDB6Ii8+DQo8L3N2Zz4NCg==);
    }
    .control-dash input:checked ~ .control-indicator {
      background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iOHB4IiBoZWlnaHQ9IjhweCIgdmlld0JveD0iMCAwIDggOCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDN2Mmg4VjNIMHoiLz4NCjwvc3ZnPg0K)
    }
    .lasso--option__note {
        font-size: @modal--font__size - 2;
        display: block;
        margin-top:5px;
        font-style: italic;
        letter-spacing: 0.05em;
    }
}
#story-schedule {
    font-size: @modal--font__size;
}
// date picker (removed for now)
.story-schedule-calendar {
    padding: 4px;
    display: none;
    width:@modal--width - 30;
    background: @modal--bg;
    font-size: @modal--font__size;
    color:@modal--color;
    font-family: @editor--font;
    border-radius: @editor--radius;

    a {
        color: inherit;
    }
}
.story-schedule-calendar .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}
.story-schedule-calendar .ui-datepicker-prev,
.story-schedule-calendar .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}
.story-schedule-calendar .ui-datepicker-prev-hover,
.story-schedule-calendar.ui-datepicker-next-hover {
    top: 1px;
}
.story-schedule-calendar .ui-datepicker-prev {
    left: 2px;
}
.story-schedule-calendar .ui-datepicker-next {
    right: 2px;
}
.story-schedule-calendar.ui-datepicker-prev-hover {
    left: 1px;
}
.story-schedule-calendar .ui-datepicker-next-hover {
    right: 1px;
}
.story-schedule-calendar .ui-datepicker-prev span,
.story-schedule-calendar .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.story-schedule-calendar .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.story-schedule-calendar .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.story-schedule-calendar select.ui-datepicker-month,
.story-schedule-calendar select.ui-datepicker-year {
    width: 45%;
}
.story-schedule-calendar table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.story-schedule-calendar th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.story-schedule-calendar td {
    border: 0;
    padding: 1px;
}
.story-schedule-calendar td span,
.story-schedule-calendar td a {
    display: block;
    padding: .2em;
    text-align: center;
    text-decoration: none;
}
.story-schedule-calendar .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.story-schedule-calendar .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.story-schedule-calendar .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}