.aesop-modal-open {
    overflow: hidden;
}

// modal overlay
#aesop-editor--modal__overlay {
    z-index: 999;
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:@modal--overlay__bg;
}

// modal outer
#aesop-editor--post-settings__modal{
    z-index: 1001;
    position:fixed;
    display: table;
    top:33vh;
    left:0;
    right:0;
    bottom:0;
    width:@modal--width;
    margin:0 auto;
    font-family:@editor--font;

    * {
        .box-sizing(border-box);
    }

}

// modal inner
.aesop-editor--modal__inner {
    display:table-cell;
    vertical-align: middle;
    background:@modal--bg;
    border-radius:@editor--radius;
    border:@toolbar--border;
    padding:@modal--padding;
    .box-shadow(3px 3px -1px rgba(0,0,0,.5));
    color:@modal--color;
    .clearfix();
}

// modal close
#aesop-editor--modal__close {
    position:absolute;
    right:20px;
    top:10px;

    &:hover {
        cursor: pointer;
    }
}

// post status slider wrap
.aesop-editor--slider_wrap {
    padding:10px 15px;
}

// post status indicator
.aesop-editor--postsettings__option {
    border-bottom:1px solid @modal--border;
    padding-bottom:15px;
    margin-bottom:10px;
    position: relative;

    label {
        font-size: 17px;
    }

    &:last-of-type {
        border-bottom:none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .story-status {
        margin:0;
        padding:0;
        .clearfix();

        li {
           float: left;
           font-size: 15px;
        }

        &.story-status-publish {
            #aesop-editor--status-draft {
                .opacity(0.3);
            }
        }
        &.story-status-draft {
            #aesop-editor--status-publish {
                 .opacity(0.3);
            }
        }

        #aesop-editor--status-draft {

        }

        // published
        #aesop-editor--status-publish {
            float: right;
        }
    }

    // post slug option
    &.story-slug-option {

        .url-helper,
        input {
            height:34px;
            font-size: @modal--font__size;
        }

        // the url mask
        .url-helper {
            position: absolute;
            z-index: 1;
            background:@modal--bg__accent;
            height:32px;
            bottom:16px;
            left:1px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            padding:1px 8px 2px;
        }

        // the url input
        input {
            z-index: 0;
            padding-left:118px;
            position: relative;
        }
    }
}

// post settings form footer
.aesop-editor--postsettings__footer {
    text-align: right;
    font-size: @modal--font__size + 2;

    a,input {
        display: inline-block;
    }

    .aesop-editor--postsettings-cancel {
        background: 0 0;
        color: @editor--color__error;
        position: relative;
        top: 3px;

        &:hover {
            color:darken(@editor--color__error,5);
            text-decoration: none;
        }
    }

    input[type="submit"] {
        text-align: center;
        float: right;
        display: block;
        margin: 0 0 0 15px;
        padding: 2px 10px;
        border-radius: 2px;
        background:@editor--color__update;
        border: none;
        color: #fff;
        font-size: inherit;

        &:hover {
            background:darken(@editor--color__update,10);
        }

        &:active {
            .box-shadow(inset 1px 1px 2px rgba(0,0,0,0.4));
        }
    }
}



// post status slider
#aesop-editor--slider {
    position: relative;
    text-align: left;
    background: @input--color;
    top:5px;
    height:8px;
    border-radius:4px;

    .ui-slider-handle {
        position: absolute;
        z-index: 2;
        width: 20px;
        height: 20px;
        cursor: default;
        -ms-touch-action: none;
        touch-action: none;
        background:@editor--color__update;
        top:-6px;
        margin-left:-10px;
        border-radius: 100%;

        &:focus,
        &:active {
            outline:none;
        }

        &:hover, &:focus, &:active { cursor: move; }
    }

}