.aesop-modal-open {
    overflow: hidden;
}

// modal overlay
#aesop-editor--modal__overlay {
    z-index: 999;
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    background:@modal--overlay__bg;
}

// modal outer
#aesop-editor--post-settings__modal{
    z-index: 1001;
    position:fixed;
    display: table;
    top:33vh;
    left:0;
    right:0;
    bottom:0;
    width:@modal--width;
    margin:0 auto;
    font-family:@editor--font;

    * {
        .box-sizing(border-box);
    }

}

// modal inner
.aesop-editor--modal__inner {
    display:table-cell;
    vertical-align: middle;
    background:@modal--bg;
    border-radius:@editor--radius;
    border:@toolbar--border;
    padding:@modal--padding;
    .box-shadow(3px 3px -1px rgba(0,0,0,.5));
    color:@modal--color;
    .clearfix();
}

// modal close
#aesop-editor--modal__close {
    position:absolute;
    right:20px;
    top:10px;

    &:hover {
        cursor: pointer;
    }
}