// edit wrapper
#aesop-editor--controls {
    z-index:@z-index--toolbar;
    position:fixed;
    bottom:@toolbar--pos__bottom;
    left:@toolbar--pos__bottom;

    a {
        display:inline-block;
        font-family:@editor--font;
        font-style:normal;
        font-size: @control--font__size;
        padding:@control--padding;
        border-radius: @editor--radius - 1;
        .transition(opacity .2s ease);
        height:@toolbar--height;

        &:hover,
        &:active,
        &:focus,
        &:focus:before,
        &:active:before{
            text-decoration: none;
        }

        &:before {
            position:relative;
            height:@toolbar--height;
            .editor-icon-font();
        }

    }

    // post not pubkished - draft
    &.aesop-post-status--draft {

        // save button
        #aesop-editor--save {
            background:@editor--color__error;

            &:before {
                top:2px;
                content:'\f147';
            }

        }
    }

    // post alreadiy published - update post
    &.aesop-post-status--publish {

        // save button
        #aesop-editor--save {
            background:@editor--color__update;

            &:before {
                top:2px;
                content:'\f463';
            }

        }
    }

    // post saved
    #aesop-editor--save.aesop-editor--saved {

        background:@editor--color__success;

        &:before {
            top:2px;
            content:'\f147';
        }

    }
}


// edit button
#aesop-editor--edit {
    background:@control--bg;
    color:@control--color;

    &:before {
        content:'\f464';
    }

    &:hover {
        background:@toolbar--hover;
    }
}

// save button
#aesop-editor--save {
    position: fixed;
    right: @toolbar--pos__bottom;
    bottom: @toolbar--pos__bottom;
    .opacity(0);
    color:white;
    font-size: @control--font__size + 2;

    &:hover {
        background:darken(@editor--color__error,5);
    }

    &.saved {
        background:@editor--color__success;
    }
}

// body class aesop is editing
.aesop-editing {

    #aesop-editor--edit {
        .opacity(0);
    }

    //#aesop-editor--save {
       // .opacity(1);
   // }
}