.aesop-editor--toolbar_wrap {
    background:#121212;
    color:#eaeaea;
    width:120px;
    border-radius:4px;
    position:fixed;
    text-align: center;
    left:50%;
    bottom:20px;
    z-index: 999;

    span {
        height:20px;
        width:20px;
        position:relative;

        &:before {
            font-family: Dashicons;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

#aesop-toolbar--bold:before {
    content:'\f200';
}
#aesop-toolbar--italic:before {
    content:'\f201';
}
#aesop-toolbar--underline:before {
   content:'\f213';
}
#aesop-toolbar--strike:before {
    content:'\f224';
}

#aesop-editor--confirm {
    position: fixed;
    z-index: 9999;
    bottom:20px;
    right:30px;
}
