// main toolbar layout
.aesop-editor--toolbar_wrap {

    * { .box-sizing(border-box); }

    background:@toolbar--bg;
    color:@toolbar--color;
    width:auto;
    height:@toolbar--height;
    font-size:20px;
    border-radius:@editor--radius;
    position:fixed;
    text-align: center;
    left: ~'calc(50% - @{toolbar--width} / 2)';
    bottom:@toolbar--pos__bottom;
    z-index: @z-index--toolbar;

}

// toolbar inner
.aesop-editor--toolbar__inner {
    margin:0;
    padding:0;
    list-style: none;
    height:@toolbar--height;
    .clearfix();

    li {
        position:relative;
        float:left;
        padding:@toolbar--item__padding;
        border-right:1px solid lighten(@toolbar--bg,10);
        text-align: center;

        &:before {
            .editor-icon-font();
            .transition(all .2s ease);
        }

        &:last-child {
            border-right:0;
        }

        &:hover {
            cursor: pointer;
            background: @toolbar--hover;
        }
    }
}

// toolbar buttons
#aesop-toolbar--bold:before {
    content:'\f200';
}
#aesop-toolbar--italic:before {
    content:'\f201';
}
#aesop-toolbar--underline:before {
   content:'\f213';
}
#aesop-toolbar--strike:before {
    content:'\f224';
}
#aesop-toolbar--modal{
    top:2px;
    &:before {
        content:'\f132';
    }
}