// EDITOR GLOBALS
@editor--font:                  'Arial';
@editor--color__success:        #4DA34D;
@editor--color__error:          #d9534f;
@editor--color__update:         #007aab;
@editor--color__warning:        #f0ad4e;
@editor--radius:                4px;
@editor--confirm__pos:          20px;
@editor--dropzone__height:      75px;
@editor--dropzone__color:       @editor--color__update;
@editor--dropzone__bg:          fadeout(black,97);
@editor--dropzone__border:      fadeout(black,80);

// COLORS
@base:                           #23282D;
@base--light:                   #32373C;// lighten(@base,6);
@base--dark:                    darken(@base,5);

@text-shadow:                   rgba(0,0,0,0.4);

// TOOLBAR
@toolbar--bg:                   @base;
@toolbar--bg__dark:             @base--dark;
@toolbar--bg__accent:           lighten(@toolbar--bg,8);
@toolbar--border:               @base--dark;
@toolbar--hover:                lighten(@toolbar--bg__accent,2);
@toolbar--color:                #E2E2E2;
    @toolbar--color__dark:      @base; // light theme var

@toolbar--width:                232px;
@toolbar--height:               39px;
@toolbar--item__padding:        0 8px;
@toolbar--font__size:           20px;
@toolbar--icon__height:         20px;
@toolbar--icon__width:          @toolbar--icon__height;
@toolbar--pos__bottom:          20px;
@toolbar--drop__height:         86px;
@toolbar--drop__width:          304px;

@toolbar--htmldrop__width:      340px;
@toolbar--htmldrop__theight:    130px;
@toolbar--htmldrop__fheight:    35px;
/* CALC-NO-EDIT */ @toolbar--htmldrop__height: @toolbar--htmldrop__theight + @toolbar--htmldrop__fheight + 8;
@toolbar--htmldrop__padding:    8px;
@toolbar--htmldrop__color:      @toolbar--color;
@toolbar--htmldrop__font:       'Courier New';
@toolbar--htmldrop__font-size:  14px;

@toolbar--htmldrop__bg:         @base;

@toolbar--linkdrop__height:    40px;
@toolbar--linkdrop__width:     300px;

// EDITOR CONTROLS
@control--bg:                   @toolbar--bg;
@control--color:                @toolbar--color;
@control--padding:              @toolbar--item__padding;
@control--font__size:           @toolbar--font__size;
@control--width:                133px;

// Z INDEX
@z-index--toolbar:              999;

// COMPONENT CONTROLS
@component-controls--bg:         @toolbar--bg__accent;
@component-controls--height:     26px;
@component-controls--width:      121px;
@component-controls--color:       white;
@component-controls--font__size: 15px;
@component-controls--radius:     @editor--radius - 2;

// FEAT IMG CONTROLS
@featimg-controls--width:       30px;
@featimg-controls--height:      @component-controls--height;

// MODAL
@modal--overlay__bg:            fadeout(white,15);
@modal--width:                  381px;
@modal--width__full:            800px;
@modal--bg:                     @base;
@modal--bg__accent:             @base--light;
@modal--border:                 darken(@toolbar--border,5);
@modal--color:                  @toolbar--color;
@modal--padding:                18px;
@modal--font__size:             14px;

// RAIL
@rail__height:                  10px;
@rail--track__color:            @modal--bg__accent;
@rail--handle__color:           @editor--color__update;
@rail--handle__w:               22px;
@rail--handle__h:               22px;

// STATUS
@status--w:                     8px;
@status--h:                     @status--w;
@status--publish:               @editor--color__success;
@status--draft:                 @editor--color__warning;
@status--pending:               @editor--color__update;

// SIDEBAR
@sidebar--width:                285px;
@sidebar--bg:                   @toolbar--bg;
@sidebar--bg__accent:           @toolbar--bg__accent;
@sidebar--color:                @toolbar--color;
@sidebar--padding:              20px;
@sidebar--font__size:           14px;
@sidebar--button__bg:           lighten(@toolbar--bg,18);
@sidebar--button__border:       darken(@sidebar--button__bg,14);

@sidebar--close__color:         @editor--color__update;
@sidebar--buttonInsert__color:  #FFF;
@sidebar--buttonInsert__bg:     @editor--color__update;
@sidebar--buttonInsert__border: darken(@sidebar--buttonInsert__bg,5);


// ALL POSTS
@list--sb__width:               100px;
@list--item__bg:                @modal--bg__accent;
@list--item__padding:           0 15px;
@list--item__line-height:       50px;
@list--control__width:          115px;

// COMPONENT SETTINGS
@input--bg:                     #f8f8f8;
@input--color:                  #444;
@input--border:                 darken(@sidebar--bg,5);
@input--font__family:           'Courier New';
@input--font__size:             15px;
@input--height:                 30px;

@input--button__color:          white;
@input--button__padding:        2px 8px;
@input--lineheight:             1.8;

// MISFITS
@insert--height:                70px;
@admin-bar--height:             32px;

@scrollbar--handle:             @base--light;
@scrollbar--rail:               transparent;

// TOOLLTIPS
@tooltip--icon__color:          @editor--color__update;
@tooltip--color:                @toolbar--color;
@tooltip--bg:                   fadeout(@editor--color__update,5);
@tooltip--font__size:           12px;

// LOADER
@loader--color:                 lighten(@base--light,20);


