// EDITOR GLOBALS
@editor--font:              'Open Sans';
@editor--color__success:    #5CB85C;
@editor--color__error:      #d9534f;
@editor--color__update:     #5bc0de;
@editor--radius:            4px;

@editor--confirm__pos:      20px;

// TOOLBAR
@toolbar--bg:               #222;
@toolbar--bg__accent:       lighten(@toolbar--bg,8);
@toolbar--border:           darken(@toolbar--bg,5);
@toolbar--hover:            lighten(@toolbar--bg__accent,2);
@toolbar--color:            #E2E2E2;
@toolbar--width:            160px;
@toolbar--height:           39px;
@toolbar--item__padding:    0 8px;
@toolbar--font__size:       20px;
@toolbar--icon__height:     20px;
@toolbar--icon__width:      @toolbar--icon__height;
@toolbar--pos__bottom:      20px;

// EDITOR CONTROLS
@control--bg:               @toolbar--bg;
@control--color:            @toolbar--color;

@control--padding:          @toolbar--item__padding;
@control--font__size:       @toolbar--font__size;


@z-index--toolbar:          999;


// MODAL
@modal--overlay__bg:       fadeout(black,90);
@modal--pos_top:           20px;
@modal--bg:                @toolbar--bg;
@modal--color:             @toolbar--color;
@modal--padding:           18px;