//@brand-primary:         #8fb0bf;
//@brand-success:         #5cb85c;
//@brand-warning:         #f0ad4e;
//@brand-danger:          #d9534f;
//@brand-info:            #5bc0de;

@editor--font:              'Open Sans';
@editor--color__success:    #5cb85c;
@editor--radius:            4px;

@editor--confirm__pos:      20px;

// TOOLBAR
@toolbar--bg:               #121212;
@toolbar--color:            #eaeaea;
@toolbar--width:            142px;
@toolbar--height:           37px;
@toolbar--font__size:       20px;
@toolbar--icon__height:     20px;
@toolbar--icon__width:      @toolbar--icon__height;
@toolbar--pos__bottom:      20px;

// CONTROLS
@control--bg:               @toolbar--bg;
@control--color:            @toolbar--color;

@control--padding:          4px 8px;
@control--font__size:       14px;


@z-index--toolbar:          999;